@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181815;
  margin: 0;
  padding: 0;
}

@layer components {
  .animate {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  .animate:hover {
    animation-play-state: paused;
  }

  .animate-reversed {
    display: flex;
    animation: scroll 20s linear infinite;
    animation-direction: reverse;
  }
  .animate-reversed:hover {
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translate(-50%);
    }
  }
}
